fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

pandas
numpy
scikit-learn
joblib

langchain
langchain-community
langchain-openai
langchain-pinecone
pinecone

tiktoken
sentence-transformers

python-multipart
httpx
requests